@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font style ends */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.hide{
  display: none;
}
.container{
  max-width: 1140px;
  margin: 0px auto;
}
.bg-color{
  background: rgba(255, 144, 14, 0.1);
}
.flex{
  display: flex;
}
.center{
  text-align: center;
}
.box-shadow{
  box-shadow: 0rem 0.25rem 2rem 0rem rgba(0, 0, 0, 0.06);
}
.dark-1{
  color: rgb(19, 19, 19);
}
.dark-2{
  color: rgb(66, 66, 66);
}
.dark-3{
  color: rgb(114, 114, 114);
}
.heading{
font-size: 4rem;
font-weight: 700;
line-height: 4.6875rem;
margin-bottom: 1rem;
}
.title{
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.3125rem;
  margin-bottom: 1rem;
}
.sub-title{
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4375rem;
  margin-bottom: 1rem;
}
.para{
font-size: 1rem;
font-weight: 400;
line-height: 1.625rem;
margin-bottom: 2rem;
}
.font-width-500{
  font-weight: 500;
}
.color-brand{
  color: rgb(255, 144, 14);
}
.btn{
  color: white;
  border-radius: 0.5rem;
  background: rgb(255, 144, 14);
  padding: 1.25rem 1.5rem;
  border: 1px solid rgb(255, 144, 14);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.4375rem;
  text-align: center;
  margin-bottom: 3.25rem;
  width: 12rem;
  margin: 0rem auto 3rem;
}
.btn:hover{
  color: rgb(255, 144, 14);
  background-color: transparent;
}
/* global css ends */
/* header section starts */
header .nav-bar{
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2.875rem 0rem;
}
.nav-bar .logo{
  font-size: 2rem;
  font-weight: 700;
}
.nav-bar ul{
  list-style: none;
  gap: 3.125rem;
}
li a{
  text-decoration: none;
}

.banner{
  flex-direction: column;
  padding: 5rem auto;
}
.banner .banner-container{
  flex-direction: column;
  max-width: 40rem;
  margin: 0px auto;
}
.banner-img{
  max-width: 60rem;
  margin: 0rem auto 2.625rem;
}
.banner-img img{
  max-width: 100%;
  
}
/* header section ends */
/* team section starts */
.team{
  margin: 7.5rem auto;
  justify-content: center;
  align-items: center;
  gap: 4.375rem;
}
.team .team-img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.25rem;
}
/* team section ends */
/* feature section starts */
/* feature section ends */
/* facts section starts */
.facts{
  margin: 7.5rem auto;
}
.facts p{
  max-width: 600px;
  margin: 0rem auto 2rem;
}
.cards-container{
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.cards-container .card{
  width: 11.35rem;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
}
.card .badge{
  margin-top: 1.5rem;
}
.card>p{
  font-weight: 600;
  margin-top: -1.25rem;
}

/* facts section ends */






/* mobile media starts */
@media screen and (max-width: 576px) {
  *{
    font-size: 12px;
  }
  header .nav-bar{
    flex-direction: column;
    gap: 20px;
  }
  .banner-img{
    max-width: 30rem;
  }
  .team{
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
  .team .team-img{
    grid-template-columns: repeat(1, 1fr);
  }
  .team-img img{
    margin: auto;
    width: 90%;
  }
  .team .text-container{
    margin: 0px 2rem;
  }
  .facts p{
    max-width: 25rem;
  }
  .cards-container{
    justify-content: center;
    gap: 1rem;
    /* margin-left: 10px; */
  }
}






/* table media starts */
@media screen and (min-width: 576px) and (max-width: 1024px) {
  *{
    font-size: 14px;
  }
  header .nav-bar{
    justify-content: space-around;
  }
  .banner-img{
    max-width: 45rem;
  }
  .team .text-container{
    margin: 0px 2rem;
  }
  .team{
    flex-direction: column;
    gap: 30px;
  }
  .team .text-container{
    margin: 0px 4rem;
    text-align: center;
  }
  .team .team-img{
    grid-gap: 0rem;
  }
  .team-img img{
    margin: 1.25rem auto;
    width: 90%;
  }
  .cards-container{
    justify-content: space-around;
    gap: 2rem;
  }
  
}